:root {
  --button-scale: 1;
}

.button {
  width: calc(200px * var(--button-scale));
  height: calc(20px * var(--button-scale));
  background-image: url(img/gui/button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(20px * var(--button-scale) / 2);

  &.disabled {
    background-image: url(img/gui/button_disabled.svg);
  }
  &:hover:not(.disabled) {
    background-image: url(img/gui/button_active.svg);
  }
}
