$grid-size: 70px;
$grid-padding: 8px;

#control-pad {
  position: absolute;
  z-index: 99;
  left: $grid-padding;
  bottom: $grid-padding;
  display: grid;
  grid-template-columns: $grid-size $grid-size $grid-size;
  grid-template-rows: $grid-size $grid-size $grid-size;
  gap: $grid-padding $grid-padding;
  grid-template-areas:
    "up-left up up-right"
    "left jump right"
    ". down .";

  * {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
    width: 100%;
    height: 100%;

    &.active {
      opacity: 0.5;
    }
  }

  #jump {
    grid-area: jump;
    background-image: url(img/touch/jump.png);
  }
  #left {
    grid-area: left;
    background-image: url(img/touch/left.png);
  }
  #down {
    grid-area: down;
    background-image: url(img/touch/down.png);
  }
  #right {
    grid-area: right;
    background-image: url(img/touch/right.png);
  }
  #up-right {
    grid-area: up-right;
    background-image: url(img/touch/up_right.png);
  }
  #up {
    grid-area: up;
    background-image: url(img/touch/up.png);
  }
  #up-left {
    grid-area: up-left;
    background-image: url(img/touch/up_left.png);
  }
}
