$hotbar-scale: 3;

#hotbar {
  width: calc(182px * #{$hotbar-scale});
  height: calc(22px * #{$hotbar-scale});
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(img/gui/hotbar.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 997;

  [id^="hotbar-item-"] {
    width: calc(24px * #{$hotbar-scale});
    height: calc(24px * #{$hotbar-scale});
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 998;

    canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #hotbar-selection {
    width: calc(24px * #{$hotbar-scale});
    height: calc(24px * #{$hotbar-scale});
    position: absolute;
    top: -3px;
    left: -3px;
    background-image: url(img/gui/hotbar_selection.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999;
  }
}
