:root {
  --hotbar-scale: 1;
}

#hotbar {
  width: calc(182px * var(--hotbar-scale));
  height: calc(22px * var(--hotbar-scale));
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(img/gui/hotbar.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 997;

  [id^="hotbar-item-"] {
    width: calc(24px * var(--hotbar-scale));
    height: calc(24px * var(--hotbar-scale));
    position: absolute;
    top: calc(-1px * var(--hotbar-scale));
    left: calc(-1px * var(--hotbar-scale));
    z-index: 998;

    canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  #hotbar-selection {
    width: calc(24px * var(--hotbar-scale));
    height: calc(24px * var(--hotbar-scale));
    position: absolute;
    top: calc(-1px * var(--hotbar-scale));
    left: calc(-1px * var(--hotbar-scale));
    background-image: url(img/gui/hotbar_selection.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999;
  }
}
