#blocks {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px;
}

.invblock {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  margin: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;

  &:hover {
    border: 2px solid white;
  }
  &:active {
    border: 1px solid white;
  }
}
