.slider {
  width: calc(200px * var(--button-scale));
  height: calc(20px * var(--button-scale));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  input {
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/gui/button_disabled.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        background-image: url(img/gui/slider_active.svg);
      }
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: calc(8px * var(--button-scale));
      height: calc(20px * var(--button-scale));
      background-image: url(img/gui/slider.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 0;
      outline: 0;
      border-radius: 0;
    }
  }

  div {
    position: absolute;
    color: white;
    font-size: calc(20px * var(--button-scale) / 2);
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
  }
}
